:root {
  --primary-color: #000;
  --light-color: #f3f3f3;
  --green-light-color: #d3d3d3;
  --blue-light-color: rgb(83, 83, 255);
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-color);
  color: var(--primary-color);
  width: 100vw;
}

p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
}

.page-container {
  max-width: 100rem;
  margin: 2rem auto;
}

small {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  align-self: flex-end;
  font-weight: bold;
  margin: 2rem;
}

.users-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
  max-width: 100rem;
  margin: auto;
}

.users-list-element {
  height: 25rem;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  border: solid 1px var(--green-light-color);
}

.user-anchor {
  height: 100%;
  width: 100%;
}

.user {
  height: 100%;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 1rem;
}

.user-image {
  background-color: var(--green-light-color);
  height: 25rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.user-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.user-bio {
  font-style: italic;
  padding: 2rem 0;
}

.user-name {
  font-size: 2.5rem;
}

.post-container {
  margin: 3rem 0;
}

.user-posts-count {
  font-size: 2rem;
  text-align: end;
}

.post-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.add-post-link,
.see-posts__link {
  padding: 1rem 3rem;
  font-size: 2rem;
  border: solid 1px var(--green-light-color);
  margin: 3rem;
  margin-left: 40%;
  background-color: rgb(150, 249, 150);
}

.post-stats {
  width: 100%;
  display: flex;
  justify-content: end;
}

.post-border {
  width: 100%;
  height: 2px;
  background-color: var(--green-light-color);
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-author {
  font-size: 3rem;
  font-weight: bold;
}

.post-text {
  padding: 2rem 0;
}

.post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-textarea,
.form-input {
  border: solid 1px var(--green-light-color);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 0 2rem;
}

.form-input {
  height: 4rem;
}

.form-textarea {
  height: 20rem;
}

.form-textarea:focus,
.form-input:focus {
  outline: none;
}

.form-btn {
  width: 14rem;
  margin: auto;
  height: 4rem;
  border-radius: 0.5rem;
  border: solid 1px var(--green-light-color);
  background-color: rgb(150, 249, 150);
}

.notice {
  font-size: 3rem;
  color: red;
}

.post-btn {
  height: 4rem;
  border: solid 1px var(--green-light-color);
  background-color: skyblue;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-user-link {
  font-size: 2.5rem;
  color: white;
  background-color: yellowgreen;
}

/* style the authentification pages */
.auth_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: black;
  font-size: large;
  width: 50vw;
  margin: 100px auto;
  padding: 1rem;
  background-color: #c4ddae;
  border: 1px solid gray;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 40vw;
  margin: auto auto;
}

form input {
  width: 30vw;
  padding: 0.5rem;
}

.shared {
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
  width: 30vw;
  padding-bottom: 0.5rem;
}

.shared a {
  color: black !important;
}

ul {
  list-style: none;
}

.actions {
  border: 1px solid #1e1d1d;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #1e1d1d;
}

.actions input {
  cursor: pointer;
  font-size: 16.5px;
}

.remember_me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}

.remember_me input {
  width: 1rem;
  height: 1rem;
}

.auth_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 30vw;
  margin: auto auto;
}

.auth_links a {
  color: blue;
  padding: 0.5rem;
  box-shadow: #1e1d1d 1px 1px 1px 1px;
}

#error_explanation {
  color: red;
  font-size: large;
}

#error_explanation h2 {
  font-size: large;
  font-weight: normal;
}

.cancel_back {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.cancel_account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cancel_back a {
  color: rgb(104, 4, 235);
  font-weight: bold;
}

.cancel_account .button_to {
  width: 20vw;
}

.button_to button,
.button_to button a {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  color: blue;
  border: none;
}

.form-elements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}